<!DOCTYPE html>
<html lang="en">
  <%- include('reusables/head') %>
  <body id="about">
    <%- include('reusables/nav') %>

    <div class="container">
      <div class="breadcrumb">
        <p>About Us</p>
      </div>
      <section>
        <div class="text">
          <p>
            Peakware Academy is the training arm of <a href="peakwaregroup.com">Peakware Group</a>. Peakware
            Group is an integrated service business with subsidiaries playing in
            the Oil & Gas, Information Technology & Telecommunications, Power &
            Energy, Maritime, Construction, Maritime, Mining, Automotive,
            Manufacturing, FMCG and Automotive industries.
          </p>
          <p>
            Peakware Academy deliver On-site, Local, International and On demand
            training. Our training are designed to unlock individual and
            organizational potential for growth bringing both in individual and
            organizational efficiency.
          </p>
          <p>
            With track records of success and excellence training delivery
            across different industries we can guarantee your best experience
            with us.
          </p>
          <p>
            Our <a href="peakwaregroup.com">training</a> is practical and demonstrative with high ROI. They cut
            across Oil and Gas, Strategy, Leadership& Management, Information
            Technology/Information Management and Soft skill/Productive trainin
          </p>
          <p>
            Peakware Academy is a member of Oil and Gas Trainers Association of
            Nigeria (OGTAN)
          </p>
        </div>
        <div class="image">
          <img src="assets/images/about.jpg" alt="" />
        </div>
      </section>
      <section class="lower">
        <div>
          <h1>Our Vision and Mission</h1>
          <p>
            Our vision is to be knowledge bridge between organisation and
            people. Our mission is to deliver cutting-edge industry specific
            training adding value with significant impact on individual and
            organisations efficiency with world class facilities.
          </p>
        </div>
        <div>
          <h1>OUR TRAINING COURSES</h1>
          <p>
            Are you thinking of professional course to apply for? Think less and
            act fast. We have over 150 plus courses tha will meet your needs.
            Take any of our training to enhance your career potential with of
            the many “Certified” professional courses we offer you at Peakware.
          </p>
          <div class="link-cont">

              <a href="/e-course-list">Read more</a>
          </div>
        </div>
      </section>
    </div>

    <%- include('reusables/footer') %>
  </body>
</html>
