<!DOCTYPE html>
<html lang="en">
  <%- include('reusables/head') %>
  <body id="clients">
    <%- include('reusables/nav') %>
    <h2>Some of our clients</h2>
    <div class="container">
      <div>
        <img src="/assets/images/ACES-LOGO.png" alt="" />
        <img src="/assets/images/AIRYOLK-LOGO.png" alt="" />
        <img src="/assets/images/ALPHA-BRAVO-LOGO.png" alt="" />
        <img src="/assets/images/ARCO.png" alt="" />
        <img src="/assets/images/New-pride-logo.png" alt="" />
        <img src="/public/assets/images/SCRUPLES-RESOURCE-LIMITED.png" alt="" />
        <img src="/public/assets/images/THAMSON-ENERGY-LOGO.png" alt="" />
        <img src="/public/assets/images/Trust-Inspection-logo.png" alt="" />
    </div>
    <div>
        <img src="/assets/images/Atlantic-Fluids-Integrated-logo.png" alt="" />
        <img src="/assets/images/AVIAM-OFFSHORE.png" alt="" />
        <img src="/assets/images/BONO-ENERGY.png" alt="" />
        <img src="/assets/images/CITA-PETROLEUM.png" alt="" />
        <!-- <img src="/assets/images/ogtan-logo.png" alt="" /> -->
        <img src="/assets/images/PESO-ENERGY.png" alt="" />
        <img src="/assets/images/PFL-ENGINEERING.png" alt="" />
    </div>
    <div>
        <img src="/assets/images/DEL-WASTE-LOGO.png" alt="" />
        <img src="/assets/images/DOTMAC-TECNOLOGIES.png" alt="" />
        <img src="/assets/images/ETOPO-ENERGY-PLC.png" alt="" />
        <img src="/assets/images/EVOMEC-GLOBAL.png" alt="" />
        <img src="/assets/images/PROTON-SECURITY-SERVICES-LOGO.png" alt="" />
        <img src="/assets/images/REAL-LOGISTICS.png" alt="" />
        <img src="/assets/images/REQUITEL-RESOURCES.png" alt="" />
        
    </div>
    <div>
        <img src="/assets/images/ROSETTI-PIVOT-LOGO.png" alt="" />
        <img src="/assets/images/Geo-Jeff-international-Ltd.png" alt="" />
        <img src="/assets/images/HOMBLE.png" alt="" />
        <img src="/assets/images/HORKEY.png" alt="" />
        <img src="/assets/images/HW-Energy-logo.png" alt="" />
        <img src="/assets/images/Korent-logo.png" alt="" />
        <img src="/public/assets/images/TTL-GROUP-LOGO.png" alt="" />
        <img src="/public/assets/images/UNIONGATE-INSURANCE-BROKERS-LTD.png" alt="" />
        <img src="/assets/images/NNPC-LOGO.jpg" alt="" />

    </div>
    </div>
    <%- include('reusables/footer') %>
  </body>
</html>
