<!DOCTYPE html>
<html lang="en">
  <%- include('reusables/head') %>
  <body id="contact">
    <%- include('reusables/nav') %>
    <div class="container">
        <form action="">
            <h1>Send us a message</h1>
            <div>
                <input type="text" placeholder="Name">
                <input type="text" placeholder="Email">
            </div>
            <div>
                <input type="text" placeholder="Subject">
            </div>
            <div>
                <textarea name="" id="" cols="30" rows="10"></textarea>
            </div>
            <input type="submit" value="submit" id="submit">
        </form>
        <div class="contact"><h3></h3>

            <h3>Our Office Locations</h3>
            <p class="bold">Nigeria:</p>
        <p>
          21, Prince Adelowo Adedeji Street, <br />
          Lekki Phase 1, Lagos.
        </p>

        <p class="bold">USA:</p>
        <p>
          10900 Research Blvd Ste <br />
          160C Unit #2004 Austin, <br />
          TX 78759
        </p>
        <p>Tel: +15123776120</p>

        <p class="bold">Email:</p>
        <p>
          <a href="mailto:training@peakwareacademy.com"
            >training@peakwareacademy.com</a
          >
        </p>
      </div>
        </div>
    </div>
    <%- include('reusables/footer') %>
  </body>
</html>
