<!DOCTYPE html>
<%- include('reusables/head') %>
<body>
    <%- include('reusables/nav') %>
    <div class="register-cont">
        <form action="">
            <h1>Register </h1>
            <input type="text" placeholder="Name of Organization">
            <input type="number" placeholder="Number of Employees" >
            <input type="text" value="<%=course[0].title %>">
            <input type="submit" value="Submit">
        </form>
    </div>
    <%- include('reusables/footer') %>
    
</body>
</html>