main{
    // border: 1px solid red;
    height: 82vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    div{
        margin-top: -10vh;
        // border: 1px solid;
        margin-left: 20vh;
    }
    h1{
        margin: 0px;
    }
    p{
        font-size: 1.1em;
        max-width: 600px;
        line-height: 1.5;
    }
}