<div class="clients">
  <h2>Some of our clients</h2>
  <div class="logos-cont">
    <img src="/assets/images/ACES-LOGO.png" alt="">
    <img src="/assets/images/AIRYOLK-LOGO.png" alt="">
    <img src="/assets/images/ALPHA-BRAVO-LOGO.png" alt="">
    <img src="/assets/images/ARCO.png" alt="">
    <img src="/assets/images/Atlantic-Fluids-Integrated-logo.png" alt="">
    <img src="/assets/images/BONO-ENERGY.png" alt="">
    <img src="/assets/images/DEL-WASTE-LOGO.png" alt="">
    <img src="/assets/images/DOTMAC-TECNOLOGIES.png" alt="">
    <img src="/assets/images/SCRUPLES-RESOURCE-LIMITED.png" alt="">
    <img src="/assets/images/HOMBLE.png" alt="">
    <img src="/assets/images/HORKEY.png" alt="">
    <img src="/assets/images/REAL-LOGISTICS.png" alt="">
    <img src="/assets/images/THAMSON-ENERGY-LOGO.png" alt="">
    
  </div>
</div>
