<div id="courses">
  <h1>Find The Right Course</h1>
  <h5>Our Course Categories</h5>
  <p>
    Peakware Academy has key categories within training portfolio which will
    enable you to choose the right course from over 150 plus courses. With
    Peakware Academy, be rest assure that your certificate is well recognized in
    oil and gas sector, communication sector, etc. Peakware Academy is one of
    the leading oil and gas training academy in Nigeria
  </p>
  <!-- <div class="grid">
    <div>aaa</div>
    <div>aaa</div>
    <div>aaa</div>
    <div>aaa</div>
    <div>aaa</div>
    <div>aaa</div>
    <div>aaa</div>
    <div>aaa</div>
    <div>aaa</div>
    <div>aaa</div>
    <div>aaa</div>
    <div>aaa</div>
    <div>aaa</div>
    <div>aaa</div>
    <div>aaa</div>
    <div>aaa</div>
  </div> -->
  <div class="link-cont">
    <a href="">Register now <span>></span></a>
  </div>
</div>
