<main>
    <div>

        <h1>Peakware Academy</h1>
        <p>
            Our training our organized to unlock individual and organizational potential for growth
        </p>
        <a href="">Learn more</a>
    </div>
</main>
