<div class="testimonials">
  <h1>What Our Trainees Are Saying</h1>
  <p>
    At Peakware, we take pride that we have a large base of satisfied clients.
    More than 1,000 delegates have attended our training courses, the majority
    is practical and up-to-date. Our client base is representative of all the
    major oil & gas companies, government and agencies, banking & financial
    Institutions.
  </p>
  <div class="logo-cont">
    <img src="/assets/images/peakware-logo.png" alt="" class="logo" />
  </div>
  <h4>``NICE COURSE WITH GREAT IMPACT``</h4>
  <a href="">See more testimonials</a>
</div>
