<div id="why-choose-peakware">
  <div class="text">
    <h1>Why Choose Peakware Academy</h1>
    <p>
      Peakware Academy is an Oil and Gas training academy in Nigeria and
      training arm of <span>Peakware Group</span>. We deliver both Local and
      International Training.
    </p>
    <p>
      Our trainings are designed to unlock individual and organizational
      potential for growth.
    </p>

    <h3>DOWNLOAD 2022 TRAINING BROCHURE</h3>
    <div class="link-cont">
      <a href="">DOWNLOAD BROCHURE</a>
    </div>
  </div>
  <div class="image">
    <img
      src="/assets/images/Peakweak-academy-home-acreditation-background.jpg"
      alt=""
    />
    <div class="info">
      <section>
        <div>
          <img src="/assets/images/wcp-courses.png" />
        </div>
        <div>
          <h2>200+ Courses</h2>
          <p>
            Peakware has over one hundred and fifty professional courses
            designed to unlock individual potential for growth.
          </p>
        </div>
      </section>
      <section>
        <div>
          <img src="/assets/images/wcp-cats.png" />
        </div>
        <div>
          <h2>12 Categories</h2>
          <p>
            With these categories, our training portfolio will provide you keys
            training and seminars will ignite your potential.
          </p>
        </div>
      </section>
      <section>
        <div>
          <img src="/assets/images/wcp-cert.png" />
        </div>
        <div>
          <h2>Accreditation</h2>
          <p>
             Our courses lead to professional distinguished
            certificates which enable you to be recognized by professional
            bodies.
          </p>
        </div>
      </section>
    </div>
  </div>
</div>
