#admin {
  display: flex;
  max-width: 1200px;
  margin: auto;
}
#admin .show {
  display: block;
}
#admin .hide {
  display: none;
}
#admin .categories {
  flex: 1;
}
#admin .courses {
  flex: 2;
}
#admin form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}
#admin form input,
#admin form select {
  padding: 10px;
}
.admin-header {
  max-width: 1400px;
  margin: auto;
  background-color: #424242;
  height: 10vh;
}
