#faqs {
  background-color: lightgray;
}
#faqs h1 {
  padding-top: 5vh;
  max-width: 1200px;
  margin: auto;
  text-align: center;
  color: #022f59;
}
#faqs .container {
  padding-top: 5vh;
  padding-bottom: 5vh;
  max-width: 1200px;
  margin: auto;
}
#faqs .container .toggle.active .body {
  display: block;
}
#faqs .container .toggle .header {
  font-size: 18px;
  font-weight: bold;
  background-color: white;
  color: #022f59;
  padding: 10px;
  border-left: 5px solid #022f59;
  margin-bottom: 20px;
}
#faqs .container .toggle .body {
  display: none;
}
#faqs .container .toggle .body p {
  color: #7b7b7b;
}
