@import "nav";
@import "landingpage/main";
@import "landingpage/why-choose-peakware";
@import "landingpage/courses";
@import "landingpage/cta";
@import "landingpage/testimonials";
@import "landingpage/clients";
@import "landingpage/footer";
@import "about";
@import "calendar";
@import "clients";
@import "contact";
@import "faqs";
@import "admin";
@import "faq-update";

@font-face {
  font-family: "Open-sans";
  src: url("/assets/fonts/OpenSans-VariableFont_wdth\,wght.ttf");
}

body {
  margin: 0px;
  padding: 0px;
  font-family: Open-sans, sans-serif;
  letter-spacing: 0;
  line-height: 1.5;
}

.breadcrumb {
  p {
    text-align: right;
    padding: 2vh;
    width: 100%;
  }
}
