nav {
  background-color: #022f59;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 15vh;
}
nav section {
  box-sizing: border-box;
  display: none;
  color: white;
  width: 1200px;
}
nav section.upper {
  padding: 1vh;
  border-bottom: 1px solid #50667a;
  font-size: 0.8em;
  display: flex;
  height: 6vh;
}
nav section.upper div {
  display: flex;
  align-items: center;
}
nav section.upper div a {
  text-decoration: none;
  color: white;
}
nav section.upper div.middle {
  flex: 1;
  justify-content: center;
  gap: 2vh;
}
nav section.lower {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1vh;
  height: 12vh;
}
nav section.lower .logo img {
  width: 8vh;
  height: auto;
}
nav section.lower .links {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 3vh;
}
nav section.lower .links a {
  text-decoration: none;
  color: white;
  font-size: 0.8em;
  font-weight: bold;
}
@media screen and (min-width: 320px) and (max-width: 480px) and (orientation: portrait)  {
  nav.sm {
    display: flex;
    flex-direction: row;
    min-height: 10vh;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
  }
  nav.lg {
    display: none;
  }
  nav .logo img {
    max-width: 6vh;
  }
  nav section {
    height: auto;
    flex-direction: column;
  }
}
@media screen and (min-width: 1081px)  {
  nav.sm {
    display: none;
  }
}
.nav-dropdown {
  display: none;
  position: absolute;
  top: 10vh;
  background-color: whitesmoke;
  height: 90vh;
  width: 100%;
}
main {
  height: 82vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background: url('/assets/images/home-hero.webp');
  background-size: cover;
  background-position: center;
}
main div {
  margin-top: -10vh;
  margin-left: 20vh;
}
main h1 {
  margin: 0px;
  color: white;
  text-shadow: 0px 0px 3px #424242;
}
main p {
  font-size: 1.1em;
  color: white;
  max-width: 600px;
  line-height: 1.5;
  text-shadow: 0px 0px 3px #424242;
}
main a {
  color: white;
  display: inline-block;
  background-color: #ffb342;
  padding: 1vw 2vw;
  text-decoration: none;
}
@media screen and (min-width: 320px) and (max-width: 480px) and (orientation: portrait)  {
  main {
    height: 90vh;
  }
  main div {
    margin-left: 5vw;
  }
  main a {
    padding: 2vw 4vw;
  }
}
#why-choose-peakware {
  margin-top: -3vh;
  display: block;
}
@media screen and (min-width: 320px) and (max-width: 480px) and (orientation: portrait)  {
  #why-choose-peakware .text {
    padding: 20px;
  }
  #why-choose-peakware .image {
    display: none;
  }
  #why-choose-peakware .image-sm .info section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
  }
  #why-choose-peakware .image-sm .info section > div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
  }
  #why-choose-peakware .image-sm .info section > div h2 {
    text-align: center;
  }
  #why-choose-peakware .image-sm .info section img,
  #why-choose-peakware .image-sm .info section p {
    margin: auto;
  }
}
@media screen and (min-width: 1081px)  {
  #why-choose-peakware .image-sm {
    display: none;
  }
}
#why-choose-peakware .text {
  padding-bottom: 3vh;
  background-color: #fff3e8;
}
#why-choose-peakware .text h1 {
  text-align: center;
  color: #022f59;
  padding-top: 2vh;
}
#why-choose-peakware .text p {
  max-width: 850px;
  margin: auto;
  line-height: 22px;
  text-align: center;
  color: #777777;
  font-size: 15px;
}
#why-choose-peakware .text p span {
  font-weight: bold;
  color: #022f59;
}
#why-choose-peakware .text h3 {
  text-align: center;
  color: #777777;
}
#why-choose-peakware .text .link-cont {
  display: flex;
  justify-content: center;
  align-items: center;
}
#why-choose-peakware .text .link-cont a {
  color: #fb8639;
  text-decoration: none;
  border: 2px solid #fb8639;
  font-size: 13px;
  font-variant: small-caps;
  font-weight: bold;
  padding: 1vh 3vh;
  border-radius: 2vw;
  display: inline-block;
  margin: auto;
}
#why-choose-peakware .image {
  position: relative;
  margin-bottom: -5px;
}
#why-choose-peakware .image img {
  max-width: 90vw;
  margin: 0px;
}
#why-choose-peakware .image .info {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 60vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#why-choose-peakware .image .info section {
  display: flex;
  gap: 2vw;
}
#why-choose-peakware .image .info section img {
  max-width: 80px;
}
#why-choose-peakware .image .info h2 {
  margin-top: 0px;
  color: #022f59;
  margin-bottom: 1vh;
}
#why-choose-peakware .image .info p {
  color: #777777;
  font-size: 14px;
  max-width: 600px;
}
#courses {
  background: #e9e9e9;
  text-align: center;
  padding-top: 5vh;
}
#courses h5 {
  color: #777777;
}
#courses p {
  color: #a19d9d;
  font-size: 15px;
  max-width: 75vw;
  margin: auto;
  padding-bottom: 5vh;
}
@media screen and (min-width: 320px) and (max-width: 480px) and (orientation: portrait)  {
  #courses .grid {
    grid-template-columns: 1fr;
  }
}
#courses .grid {
  max-width: 75vw;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
}
@media screen and (min-width: 320px) and (max-width: 480px) and (orientation: portrait)  {
  #courses .grid {
    display: grid;
    grid-template-columns: 1fr ;
  }
}
#courses .grid > div {
  border: 1px solid #424242;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#courses .grid > div img {
  max-width: 50px;
}
#courses .link-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5vh;
}
#courses .link-cont a {
  border: 2px solid #ffb342;
  color: #ffb342;
  text-decoration: none;
  padding: 1vh 2vh;
  border-radius: 5px;
  font-weight: bold;
  display: flex;
  align-items: center;
}
#courses .link-cont a span {
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
  background: #ffb342;
  width: 23px;
  height: 23px;
  border-radius: 50%;
  font-size: 10px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cta {
  height: 30vh;
  display: flex;
  align-items: center;
  padding-left: 15vw;
  background-color: #f2f2f2;
  background-image: url('/assets/images/Peakweak-signup-now.jpg');
  background-size: cover;
  background-position: top;
}
.cta h1 {
  background-color: white;
  color: #022f59;
  width: 45vh;
  padding: 5vh;
}
.testimonials {
  padding-top: 3vh;
  padding-bottom: 3vh;
}
@media screen and (min-width: 320px) and (max-width: 480px) and (orientation: portrait)  {
  .testimonials {
    padding: 20px;
  }
}
.testimonials h1 {
  margin: auto;
  margin-top: 0px;
  text-align: center;
  color: #1d2127;
}
.testimonials p {
  max-width: 800px;
  margin-top: 3vh;
  margin: auto;
  color: #333a43;
}
.testimonials .logo-cont {
  display: flex;
  justify-content: center;
  align-items: center;
}
.testimonials .logo-cont .logo {
  width: 100px;
  height: auto;
  margin: auto;
  margin-top: 2vh;
  margin-bottom: 2vh;
}
.testimonials h4 {
  text-align: center;
  color: #2e353e;
}
.testimonials a {
  display: block;
  margin: auto;
  text-align: center;
  color: #254d72;
  text-decoration: none;
}
.clients h2 {
  text-align: center;
}
.clients .logos-cont {
  max-width: 100vw;
  overflow-x: scroll;
  display: flex;
  gap: 3vw;
  padding: 3vh;
}
.clients .logos-cont img {
  height: 50px;
  width: 200px;
}
footer {
  background-color: #022f59;
}
footer > div {
  max-width: 1200px;
  margin: auto;
}
footer .info {
  display: flex;
  padding: 10vh 0vh;
}
@media screen and (min-width: 320px) and (max-width: 480px) and (orientation: portrait)  {
  footer .info {
    flex-direction: column;
    padding: 20px;
  }
}
footer .info section {
  flex: 1;
}
footer .info h3 {
  color: white;
  font-variant: small-caps;
}
footer .info .body {
  color: #747f8c;
}
footer .info .body p {
  font-size: 0.9rem;
}
footer .info .body p.bold {
  font-weight: bold;
}
footer .info .body a {
  color: #747f8c;
  text-decoration: none;
}
footer .info .body a:hover {
  color: white;
}
footer .info .body img {
  max-width: 150px;
  margin: auto;
}
footer .info .body iframe {
  width: 100%;
  height: auto;
}
footer .copyright {
  padding: 3vh 0vh;
  border-top: 1px solid #2a3040;
}
footer .copyright p {
  color: #747f8c;
  text-align: center;
}
footer .copyright p span {
  color: white;
}
#about .container {
  max-width: 1200px;
  margin: auto;
}
#about .container section {
  display: flex;
  padding-top: 5vh;
  padding-bottom: 5vh;
  gap: 5vh;
}
#about .container section > div {
  flex: 1;
}
#about .container section.lower p {
  font-size: 1rem;
  text-align: center;
  padding: 1vw;
}
#about .container section.lower .link-cont {
  display: flex;
  justify-content: center;
  align-items: center;
}
#about .container section.lower a {
  background-color: #fb8639;
  margin: auto;
  display: inline-block;
  padding: 1vw 2vw;
  color: white;
  font-weight: 500;
}
#about .container section.lower a:hover {
  color: white;
}
#about .container section a {
  font-weight: bold;
  color: #04315a;
  text-decoration: none;
}
#about .container section a:hover {
  color: #fb8639;
}
#about .container p {
  color: #8e8e8e;
  font-size: 0.9rem;
  text-align: justify;
  line-height: 1.5;
}
#about .container p a {
  color: #04315a;
  font-weight: bold;
}
#about .container h1 {
  color: #04315a;
  text-align: center;
}
#calendar .container {
  padding: 5vh;
  background-color: #e9e9e9;
}
#calendar form {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
  gap: 1.5vh;
}
#calendar form h1 {
  text-align: center;
  color: #022f59;
}
#calendar form label {
  font-weight: bold;
  color: #7e7c7c;
}
#calendar form input {
  padding: 15px;
}
#calendar form input#submit {
  margin-top: 2vh;
  background-color: #ffb342;
  color: #f2f2f2;
  border: none;
  font-size: 18px;
}
#clients h2 {
  text-align: left;
  width: 100%;
  color: #022f59;
  max-width: 1200px;
  margin: auto;
  padding: 3vh;
}
#clients .container {
  max-width: 1200px;
  margin: auto;
  padding-top: 5vh;
  padding-bottom: 10vh;
  display: flex;
}
#clients .container div {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5vh;
}
#clients .container img {
  width: 80%;
  height: auto;
  background-color: aqua;
}
#contact .container {
  max-width: 1200px;
  padding-top: 10vh;
  padding-bottom: 10vh;
  margin: auto;
  display: flex;
}
#contact .container form {
  flex: 1;
}
#contact .container form #submit {
  background-color: #fb8639;
  color: white;
  width: 30%;
  padding: 10px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
}
#contact .container form h1 {
  color: #022f59;
}
#contact .container form div {
  padding: 10px;
  display: flex;
  gap: 1vw;
}
#contact .container form div input {
  padding: 10px;
  flex: 1;
}
#contact .container form div textarea {
  flex: 1;
}
#contact .container .contact {
  flex: 1;
  padding-left: 10vw;
}
#contact .container .contact p {
  color: #7e7e7e;
}
#contact .container .contact p.bold {
  font-weight: bold;
}
#faqs {
  background-color: lightgray;
}
#faqs h1 {
  padding-top: 5vh;
  max-width: 1200px;
  margin: auto;
  text-align: center;
  color: #022f59;
}
#faqs .container {
  padding-top: 5vh;
  padding-bottom: 5vh;
  max-width: 1200px;
  margin: auto;
}
#faqs .container .toggle.active .body {
  display: block;
}
#faqs .container .toggle .header {
  font-size: 18px;
  font-weight: bold;
  background-color: white;
  color: #022f59;
  padding: 10px;
  border-left: 5px solid #022f59;
  margin-bottom: 20px;
}
#faqs .container .toggle .body p {
  color: #7b7b7b;
}
#admin {
  display: flex;
  max-width: 1200px;
  margin: auto;
}
#admin .show {
  display: block;
}
#admin .hide {
  display: none;
}
#admin .categories {
  flex: 1;
}
#admin .courses {
  flex: 2;
}
#admin form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}
#admin form input,
#admin form select {
  padding: 10px;
}
.admin-header {
  max-width: 1400px;
  margin: auto;
  background-color: #424242;
  height: 10vh;
}
#faq-update .container {
  max-width: 1200px;
  margin: auto;
}
#faq-update form {
  max-width: 600px;
  padding: 20px;
  display: flex;
  gap: 10px;
  flex-direction: column;
}
#faq-update form input {
  padding: 10px;
}
@font-face {
  font-family: "Open-sans";
  src: url("/assets/fonts/OpenSans-VariableFont_wdth\,wght.ttf");
}
body {
  margin: 0px;
  padding: 0px;
  font-family: Open-sans, sans-serif;
  letter-spacing: 0;
  line-height: 1.5;
}
.breadcrumb p {
  text-align: right;
  padding: 2vh;
  width: 100%;
}
