<footer>
  <div class="info">
    <section>
      <h3>our office locations</h3>
      <div class="body">
        <p class="bold">Nigeria:</p>
        <p>
          21, Prince Adelowo Adedeji Street, <br />
          Lekki Phase 1, Lagos.
        </p>

        <p class="bold">USA:</p>
        <p>
          10900 Research Blvd Ste <br />
          160C Unit #2004 Austin, <br />
          TX 78759
        </p>
        <p>Tel: +15123776120</p>

        <p class="bold">Email:</p>
        <p>
          <a href="mailto:training@peakwareacademy.com"
            >training@peakwareacademy.com</a
          >
        </p>
      </div>
    </section>
    <section>
      <h3>company information</h3>
      <div class="body">
        <p><a href="/about">About Us</a></p>
        <p><a href="/training-calendar">Training Calendar</a></p>
        <p><a href="/clients">Our Clients</a></p>
        <p><a href="/faqs">FAQs</a></p>
        <p><a href="/gallery">Gallery</a></p>
        <p><a href="">Testimonials</a></p>
        <p><a href="/contact">Contact us</a></p>
      </div>
    </section>
    <section>
      <h3>proud member of</h3>
      <div class="body">
        <img src="/assets/images/ogtan-logo.png" alt="" />
      </div>
    </section>
    <section>
      <h3>participants testimonial</h3>
      <div class="body">
        <iframe

          src="https://www.youtube.com/embed/Ak-CoiGlfcA"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
    </section>
  </div>
  <div class="copyright">
    <p>
      © Copyright 2018 - 2021. All Rights Reserved. | Peakware Academy is a
      Subsidiary of <span>Peakware Group | Website Solution</span>
    </p>
  </div>
</footer>
