<nav>
  <section class="upper">
    <div>
      <span> Tel: +2348096904953</span>
    </div>
    <div class="middle">
      <a href="/about">ABOUT US</a>
      <a href="/training-calendar">2022 TRAINING CALENDAR</a>
      <a href="/clients">CLIENTS</a>
      <a href="/faqs">FAQs</a>
      <a href="/gallery">GALLERY</a>
      <a href="/contact">CONTACT US</a>
    </div>
    <div>Login</div>
  </section>
  <section class="lower">
    <div class="logo">
      <a href="/">
        <img src="/assets/images/peakware-logo.png" />
      </a>
    </div>
    <div class="links">
      <a href="/">HOME</a>
      <a href="/categories/909eeac4-05c4-4cd3-9ce9-976d59e6d23c">CLASSROOM COURSE</a>
      <a href="/categories/ffad68e5-3737-419e-99f9-bd144a1a25dc">CERTIFICATE COURSES</a>
      <a href="/categories/c81c63fb-549a-400e-b2e3-9e3f25e09883">VIRTUAL CLASS</a>
      <a href="/categories/3ca007df-873c-44d1-a86c-d9df5b132111">E-LEARNING</a>
      <a href="/lms-solution">LMS-SOLUTION</a>
    </div>
  </section>
</nav>
