<nav>
  <section class="upper">
    <div>
      <span> Tel: +2348096904953</span>
    </div>
    <div class="middle">
      <a href="/about">ABOUT US</a>
      <a href="/training-calendar">2022 TRAINING CALENDAR</a>
      <a href="/clients">CLIENTS</a>
      <a href="/faqs">FAQs</a>
      <a href="/gallery">GALLERY</a>
      <a href="/contact">CONTACT US</a>
    </div>
    <div>Login</div>
  </section>
  <section class="lower">
    <div class="logo">
      <a href="/">
        <img />
      </a>
    </div>
    <div class="links">
      <a href="/">HOME</a>
      <a href="">CLASSROOM COURSE</a>
      <a href="">CERTIFICATE COURSES</a>
      <a href="">VIRTUAL CLASS</a>
      <a href="">E-LEARNING</a>
      <a href="">LMS-SOLUTION</a>
    </div>
  </section>
</nav>
